@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #2C4A6E;
    --secondary-color: hsla(213, 43%, 30%, 0.549);
    --background-light-color: #f6fbfc;
    --background-color: #eaecf5;
    --primary-text-color: #272727;
    --heading-font: "Arvo", serif;
    --main-font: "Roboto", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    font-family: var(--main-font);
    color: var(--primary-text-color);
}

.container {
    background-color: var(--background-light-color);
    width: 50%;
    margin: 1.8rem auto;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto 1fr;
    border-radius: 4px;
}

.sidebar {
    background-color: var(--primary-color);
    grid-column: 1/2;
    grid-row: 1/-1;
    border-radius: 4px;
    word-break: break-word;
}

.image-container {
    width: 100%;
    height: 200px;
    text-align: center;
    margin: 1.6rem 0;
}

.image-container img {
    width: 100%;
    max-width: 200px;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    transition: opacity 0.4s ease-in-out;
}

.contacts, .education, .languages {
    padding: 1.5rem 2rem;
    font-size: 1rem;
    line-height: 1.8rem;
    color: var(--background-light-color);
}

.sidebar-title {
    font-family: var(--heading-font);
    font-size: 1.2rem;
}

header {
    grid-column: 2/3;
    grid-row: 1/2;
}

header h1 {
    font-family: var(--heading-font);
    font-size: 2.2rem;
    padding: 1rem 0rem 0rem 2rem;
}

.job-title {
    padding: 0rem 0rem 0rem 2rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--secondary-color);
}

.short-description {
    background-color: var(--secondary-color);
    font-size: 1rem;
    line-height: 1.4rem;
    padding: 2rem;
    font-weight: 700;
}

.main {
    grid-column: 2/3;
    grid-row: 2/3;
    line-height: 1.8rem;
}

.experience, .projects, .skills {
    margin: 1.2rem 2rem;
}

.main-title-box {
    background-color: var(--primary-color);
    padding: 0.2rem 0.6rem;
    margin-bottom: 1rem;
}

.main-title {
    font-family: var(--heading-font);
    font-size: 1.4rem;
    color: var(--background-light-color);
}

.experience h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.8rem 0rem 0rem 0rem;
    color: var(--secondary-color);
}

.experience li {
    list-style: none;
}

.skills li {
    list-style-position: inside;
}

@media (max-width: 480px) {
    body {background-color: var(--background-light-color);}

    .container {
         width: 100%;
         grid-template-columns: 1fr;
         grid-template-rows: auto;
         padding: 0;
    }
    
    header, .sidebar, .main {
        display: contents;
    }

    header h1 {
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: center;
    }
    
    .job-title {
        grid-column: 1/2;
        grid-row: 2/3;
        text-align: center;
    }
    
    .image-container {
        grid-column: 1/2;
        grid-row: 3/4;
        text-align: left;
        padding: 1rem 0.5rem 1rem 1rem;
        z-index: 2;
    } 
    
    .image-container img {
        max-width: 180px;
    }

    .contacts {
        background-color: var(--primary-color);
        grid-column: 1/2;
        grid-row: 3/4;
        color: var(--background-light-color);
        text-align: left;
        padding: 4rem 0rem 0rem 50%;
        margin: 1rem 0;
    }

    .short-description {
        grid-row: 4/5;
        background-color: var(--background-light-color);
        text-align: center;
        padding: 0rem 1rem;
        margin-bottom: 1rem;
    }

    .experience {
        grid-column: 1/2;
        grid-row: 5/6;
        margin: 0;
    }

    .education {
        padding: 0;
        grid-column: 1/2;
        grid-row: 6/7;
        color: var(--primary-text-color);
    }

    .languages {
        padding: 0;
        grid-column: 1/2;
        grid-row: 7/8;
        color: var(--primary-text-color);
    }

    .projects {
        grid-column: 1/2;
        grid-row: 8/9;
        margin: 0;
    }

    .skills {
        grid-column: 1/2;
        grid-row: 9/10;
        margin: 0;
    }

   .main-title, .experience ul, .projects p, .skills ul, .experience h4, .sidebar p, edu {
        margin-left: 1rem;
   }

   .sidebar-title {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    padding: 0.2rem 1.6rem;
    background-color: var(--primary-color);
    color: var(--background-light-color);
   }

}